page-login {

}



.title-image {
    margin-top: 8px;
    height: 27px;
}



.bg-image{
	background-image: url('../assets/img/bg2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	
}